html { 
	background-color: #FFFFFF repeat; 
	min-height: 100%; 
	box-sizing: border-box; 
	font: 12px/2 Helvetica Neue, Helvetica, Arial, sans-serif; 
	color: #888; 
	}
#login { 
	border-radius: 5px; 
	margin: 120px auto; 
	width: 300px; 
	}
#login h1 {
	position: relative; 
	margin: 0; 
	padding: 20px; 
	border: 1px solid rgba(0,0,0,.3); 
	border-radius: 5px 5px 0 0; 
	font-size: 16px; 
	text-align: center; 
	color: #fff; 
	text-shadow: 0 1px 1px rgba(0,0,0,.2); 
	background-color: #87CEEB; 
	box-shadow: inset 0 1px rgba(255,255,255,.3); 
	background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.15)); 
	font-family:Tahoma;
	}
#login a { 
	color: #888; 
	text-decoration: none; 
	}
#login a:hover { 
	color: #369; 
	}
#login p { 
	margin: 0;
	}
#login .social { 
	display: inline-block; 
	height: 20px; 
	margin-left: 7px; 
	padding: 0 2px; 
	cursor: pointer;
	border-radius: 3px; 
	}
#login .social:before { 
	content: ""; 
	display: inline-block; 
	width: 15px; 
	height: 15px; 
	vertical-align: top; 
	margin: 3px 5px 0 0; 
	}
#login .social.fb:before { 
	background: url('../images/fc-webicon-facebook.svg') no-repeat; 
	}
#login .social.gp:before { 
	background: url('../images/fc-webicon-googleplus.svg') no-repeat; 
	}
#login .social:hover { 
	color: #333; 
	background: #eee; 
	box-shadow: 1px 1px 1px #bbb; 
	}

#login fieldset {	
	display: block; 
	margin: 0; 
	padding: 20px; 
	background: #fff;
	border: 1px solid rgba(0,0,0,.3); 
	border-top: 0; 
	border-radius: 0 0 5px 5px; 
	box-shadow: 0 1px 2px #aaa; 
	}
#login input { 
	width: 230px; 
	margin: 0; 
	padding: 12px 10px; 
	border: 1px solid #ccc; 
	outline: none; 
	font-size: 14px; 
	}
#login input:focus { 
	background: #fafafa; 
	box-shadow: inset 0 1px 7px #ddd;
	}
#login input[type="email"] { 
	border-radius: 3px 3px 0 0; 
	}
#login input[type="password"] {	
	border-width: 0 1px; 
	border-radius: 0; 
	}
#login .form-login input[type="password"] {	
	border-width: 0 1px 1px 1px;	
	border-radius: 0 0 3px 3px; 
	}
#login input[type="text"] {	
	border-radius: 0 0 3px 3px; 
	}
#login input[type="button"]:hover {	
	background-color: white;
	}
#login input[type="button"]:active { 
	padding: 13px 20px 11px; 
	text-shadow: -1px -1px 1px rgba(255,255,255,.6); 
	box-shadow: inset 0 1px 4px rgba(0,0,0,.2); 
	}

#login input[type="button"] {
	width: 252px; 
	padding: 12px 20px;
	margin: 15px 0; 
	border: 1px solid #C1711B; 
	border-radius: 3px; 
	color: #111; 
	font-size: 1.3em; 
	font-weight: bold; 
	text-shadow: 1px 1px 1px rgba(255,255,255,.5); 
	cursor: pointer;
    background-color: #FFB83A; 
    box-shadow: inset 0 1px 1px rgba(255,255,0,.6); 
	background-image: linear-gradient(rgba(255,207,92,.7), rgba(223,156,38,.8));
	}
